.form-question {
  position: relative;
  font-weight: bold;

  input, textarea {
    &::placeholder {
      font-size: 15px;
      color: #cccccc;
    }
  }
  .next-arrow {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%);
    width: 15px;
  }
}