.contact-screen {
  position: relative;

  .title {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: (translate(-50%, 0));
  }

  .contact-form {
    .form-question {
      font-weight: bold;

      input,
      textarea {
        &::placeholder {
          font-size: 15px;
          color: gray;
          opacity: 0.9;
        }
      }
    }
  }

  .submit-message {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
  }
}
