@import "../../../scss/colors";

.contact-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;



  #contact-form {
    .title {
      text-align: center;
      color: $red;
      margin-bottom: 15px;
    }

    .form-question {
      font-weight: bold;

      input,
      textarea {
        &::placeholder {
          font-size: 15px;
          color: gray;
          opacity: 0.9;
        }
      }
    }
  }

  .submit-message {
    text-align: center;
    height: 20px;
    font-weight: bold;
    color: $red;
    margin: 15px 0 0 0;
  }
}
