.menu {
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    span {
      position: relative;
      h2 {
        margin: 0;
      }
      .menu-cursor {
        position: absolute;
        top: 8px;
        left: -40px;
        width: 30px;
      }
    }
  }
  .social {
    .linkedin {
      margin: 0 15px;
    }
  }
}