@import './components/GameBoy/gameBoy.scss';
@import './components/Screens/MenuScreen/menuScreen.scss';
@import './components/Screens/ContactScreen/contactScreen.scss';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #cccccc;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

a {
  text-decoration: none;
}