@import './components/GameBoy/gameBoy.scss';
@import './components/Screens/MenuScreen/menuScreen.scss';
@import './components/Screens/ContactScreen/contactScreen.scss';
@import './components/Screens/ResumeScreen/resumeScreen.scss';
@import './components/Screens/ProjectsScreen/projectsScreen.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  //background: #cccccc;
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}